.footer {
  @apply text-[0.85rem] leading-snug mt-auto;

  & .inner {
    @apply flex gap-8 items-center flex-col-reverse md:flex-row md:justify-between md:items-start pt-10 pb-16 text-center md:text-right;
  }

  &.main {
    @apply text-slate-400 bg-slate-800;

    & .inner {
      @apply relative mx-auto w-full md:container px-4 sm:px-6 md:px-8 lg:px-12 pt-16 text-center md:text-left md:flex-row-reverse;
    }

    & .links {
      @apply justify-start;
    }

    & a {
      @apply text-indigo-400 font-medium;

      &:hover,
      &:active,
      &:focus {
        @apply text-white;
      }
    }

    & a.sponsorBtn {
      @apply inline-flex items-center text-sm bg-rose-900 text-white rounded py-2 px-3 transition-all;

      & svg {
        @apply w-6 h-6 mr-2 text-rose-500 transition-transform;
      }

      &:hover,
      &:active,
      &:focus {
        @apply bg-rose-800 text-white;

        & svg {
          transform: scale(1.2);
        }
      }
    }
  }

  &.docs {
    @apply text-warm-500 border-t-3 border-warm-200;
  }

  & a {
    @apply text-warm-500 font-semibold;

    &:hover,
    &:active,
    &:focus {
      @apply text-orange-600;
    }
  }
}

.attribution {
  & span {
    @apply text-red-500;
  }
}

.links {
  @apply flex flex-wrap gap-4 justify-end mt-2;

  & li {
    @apply mb-0;
  }
}

a.issue {
  @apply inline-block text-[0.78rem] font-normal mt-3 text-orange-600;
}

a.sponsorBtn {
  @apply inline-flex items-center text-sm bg-rose-300 bg-opacity-25 text-rose-700 rounded py-2 px-3 transition-all;

  & svg {
    @apply w-6 h-6 mr-2 text-rose-600 transition-transform;
  }

  &:hover,
  &:active,
  &:focus {
    @apply bg-opacity-60 text-rose-700;

    & svg {
      transform: scale(1.2);
    }
  }
}
